.display-4 {
    background-color: white;
    margin-top: 2px;
    margin-left: 30%;
    margin-right: 30%;
}

body {
    background-image: url("images/erik-mclean-27kCu7bXGEI-unsplash.jpg");
    
    }

h3 {
    font-family: 'Bebas Neue', cursive;
}

.herostats {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.8rem;
}

.lead {
    background-color: white;
    margin-top: 2px;
    margin-left: 30%;
    margin-right: 30%;
}

.photo {
    width: 90%;
    height: 70%;
    }


#start {
    width: 150px;
    height: 80px;
    margin-left: 5%;
    margin-top: 50px;
}